*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#container{
    margin: 10px 400px;
}

.header{
    height: 50px;
    background-color:rgb(223, 219, 219);
    padding-top: 15px;
    padding-left: 20px;
}
.content p{
    padding-left: 20px;
    padding-top: 20px;
}