.col-md-3{
    background-color: #BD5D37;
}
.nav{
    text-align: center;
    text-decoration: none;
    padding: 100px 0px;
}
.nav-link{
    color: rgb(190, 188, 188) !important;
}
.nav-item a:hover{
    color: white !important;
}
.nav-item-img img{
    border-radius: 50%;
    border: 10px solid #C97D63;
}
.container{
    border-bottom: 2px solid black;
}
.content{
    padding-top: 150px;
    padding-left: 50px;
}
.content h1{
    font-size: 60px !important;
}
.content span{
    color: #BD5D37;
}
.fab{
    font-size: 3rem;
    border-radius: 50% !important;
    padding-top: 80px;
    padding-right: 50px;
}