*{
	box-sizing: border-box;
}
.container{
	background-color:gray;
	height:600px;
	margin:0 50px;
}
.content-left{
	width:20%;
	float:left;
	background-color: gray;
	padding:20px;
	border:1px solid black;
	border-radius:5px;
}
.content-main{
	width:70%;
	height: 600px;
	float:left;
	background-color: white;
	padding: 20px;
}
.content-right{
	width:10%;
	height: 300px;
	float:left;
	background-color: black;
}
.content::after{
	clear:both;
	display:table;
	content:"";
}/* cái class content này ở đâu ra */

.content-left__header{
	padding:20px 40px;
	border-radius:5px;
	text-align:center;
	border:1px solid black;
	margin-bottom: 20px;
}

.content-left__header img{
	border-radius:50%;
	width: 50px;
	height: 50px;
}
.content-left__header a{
	display: block;
    margin-bottom: 20px;
}

.content-left-mid {
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	padding: 20px 30px;
	
}
.content-left-mid > a{
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
}
.content-left-mid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.content-left-mid ul::after {
	clear: both;
	content: "";
	display: table;
}
.content-left-mid ul li {
	float: left;
}
.content-left-mid ul li a{
	margin-right: 5px;
}
.content-left-mid ul li a:last-child{
	margin-right: 0px;
}
.content-left-infomation{
	padding: 0;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}

.content-left-bottom-notification{
	text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
}
.content-left-bottom-link{
	margin-top: 10px;
	text-align: center;
}
.content-left-bottom-link a{
	display: block;
	margin-bottom: 5px;
	color: blue;
}
a:hover{
	background-color: pink;
}

/*css for content main header */

.content-main-header{
	border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}